/* Homepage */
body {
    font-family: 'Kalam', cursive;
}
.home {
    background-image: linear-gradient(to bottom, #24A19C, #FAEEE7);
}
.navbar-brand {
    font-size: 2rem;
}
.homepage-video {
    object-fit: cover;
    width: 100%;
    z-index: -1;
    height: 50vh;
    margin-bottom: 5%;
}
.img3:hover,
.img1:hover {
    transform: rotate(1deg);
}
.img2:hover{
    transform: rotate(-1deg);
}
.nav-link {
    background: none;
    border: none;
}

/* Login/Signup */
.account {
    min-height: 100vh;
}
.card {
    width: 500px;
}

/* Dashboard */
.add:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.add {
    transition: all .2s ease-in-out;
}